In [ ]:
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.svm import SVC

from sklearn.metrics import accuracy_score

In [ ]:
dataset=pd.read_csv('/content/chess_king_rook_dataset.csv')

print (dataset)

      white_king_file  white_king_rank white_rook_file  white_rook_rank  \
0                   a                1               b                3
1                   a                1               c                1
2                   a                1               c                1
3                   a                1               c                1
4                   a                1               c                2
...               ...              ...             ...              ...
28051               b                1               g                7
28052               b                1               g                7
28053               b                1               g                7
28054               b                1               g                7
28055               b                1               g                7

      black_king_file  black_king_rank   result
0                   c                2     draw
1                   c                2     draw
2                   d                1     draw
3                   d                2     draw
4                   c                1     draw
...               ...              ...      ...
28051               e                5  sixteen
28052               e                6  sixteen
28053               e                7  sixteen
28054               f                5  sixteen
28055               g                5  sixteen

[28056 rows x 7 columns]

In [ ]:
dataset['white_king_file'] = dataset['white_king_file'].replace(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], ['1', '2', '3', '4', '5', '6', '7', '8'])

dataset['white_rook_file'] = dataset['white_rook_file'].replace(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], ['1', '2', '3', '4', '5', '6', '7', '8'])

dataset['black_king_file'] = dataset['black_king_file'].replace(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], ['1', '2', '3', '4', '5', '6', '7', '8'])

dataset['result'] = dataset['result'].replace(
    ['draw', 'zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve',
     'thirteen', 'fourteen', 'fifteen', 'sixteen'],
    ['17', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16'])

print (dataset)

      white_king_file  white_king_rank white_rook_file  white_rook_rank  \
0                   1                1               2                3
1                   1                1               3                1
2                   1                1               3                1
3                   1                1               3                1
4                   1                1               3                2
...               ...              ...             ...              ...
28051               2                1               7                7
28052               2                1               7                7
28053               2                1               7                7
28054               2                1               7                7
28055               2                1               7                7

      black_king_file  black_king_rank result
0                   3                2     17
1                   3                2     17
2                   4                1     17
3                   4                2     17
4                   3                1     17
...               ...              ...    ...
28051               5                5     16
28052               5                6     16
28053               5                7     16
28054               6                5     16
28055               7                5     16

[28056 rows x 7 columns]

In [ ]:
from pandas.core.api import isnull
print (isnull(dataset))

       white_king_file  white_king_rank  white_rook_file  white_rook_rank  \
0                False            False            False            False
1                False            False            False            False
2                False            False            False            False
3                False            False            False            False
4                False            False            False            False
...                ...              ...              ...              ...
28051            False            False            False            False
28052            False            False            False            False
28053            False            False            False            False
28054            False            False            False            False
28055            False            False            False            False

       black_king_file  black_king_rank  result
0                False            False   False
1                False            False   False
2                False            False   False
3                False            False   False
4                False            False   False
...                ...              ...     ...
28051            False            False   False
28052            False            False   False
28053            False            False   False
28054            False            False   False
28055            False            False   False

[28056 rows x 7 columns]

In [ ]:
y = dataset['result']

x = dataset.drop('result', axis=1)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.10,random_state=85)#0.10,85

In [ ]:
model = SVC()

mm=model.fit(x_train, y_train)

In [ ]:
y_predict = model.predict(x_test)

In [ ]:
accuracy = accuracy_score(y_test, y_predict)

print("Accuracy Score:", accuracy)

Accuracy Score: 0.5441910192444761